* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 800;
    color: #666666;
}

h2 {
    color: #666666;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
}

h3 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

h4 {
    color: #666666;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.aviso {
    font-size: 11px;
    margin-top: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(231, 223, 192);
}

.bg {
    /* background-image: url("./img/bg.webp");
    background-size: cover; */
    width: 100%;
    height: 100vh;
}

.contenedor__general {
    margin: 3%;
    max-width: 740px;
}




header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cont__titulo {
    display: flex;
}

.descripcion {
    font-size: 14px;
    font-weight: 300;
    margin-top: 2%;
    color: #666666;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 4% 0 0 0;
}


.menulink {
    text-decoration: none;
    font-size: 20px;
    color: #ff3300;
    font-weight: 700;
    transition: all .5s ease;
    cursor: pointer;
}

.menulink:hover {
    color: #f1a480;
    transition: all .5s ease;
}

.active {
    color: #f1a480;
    transition: all .5s ease;
}

.divisores {
    font-size: 22px;
    font-weight: 200;
    padding: 0 5px 0 5px;
}

.portfolio {
    font-size: 19px;
    font-weight: 800;
}


.iframe {
    margin: 3% 0 3% 0;
    border-radius: 15px;
}

/*Carrusel*/

.container-carrusel {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;

}

.carruseles {
    /*cambiar el porcentaje segun cantidad de img ej.: "10 = 1000%", 3 = 300% */
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {

    width: calc(100% / 10);
    /*cambiar la cantidad de imagenes "10" */
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: #9797976c;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: white;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.titulitos {
    width: 100vw;
    height: 15%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #99999986;
}

.titulitos p {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    text-decoration: none;
    margin: 3%;
    color: #666666;
}

.slider-section a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}

/*FOOTER*/
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rrss {
    padding-right: 10px;
    font-size: 25px;
    color: #666666;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-rrss:hover {
    color: #ff5100;
    transition: all .5s ease;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: transparent;
    transition: all .3s ease;
    box-shadow: 2px 2px 1px #6666664d;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
}

.button:hover {
    transition: all .3s ease;
    translate: -2px -2px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.29);
}

.button:hover h4 {
    color: #ff5100;
}

.button i {
    color: #666666;
    font-size: 20px;
    margin-right: 7px;
}

.button:hover i {
    color: #ff5100;
}

@media (max-width: 400px) {
    body {
    overflow-y: scroll;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 10px;
    }
    h4 {
        font-size:  8px;
    }
    .descripcion {
        font-size: 10px;
    }
    .menulink {

        font-size: 16px;
    }
    .titulitos p {
        font-size: 9px;
    }
  
}