* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 33px;
    font-weight: 800;
    color: greenyellow;
}

h2 {
    color: #666666;
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
}

h3 {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

h4 {
    font-family: 'Roboto Slab', serif;
    color: #666666;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}

.aviso {
    font-size: 11px;
    margin-top: 10px;
}


body {
    /* margin: 3%; */
    margin: 15px;
    display: flex;
    justify-content: center;
    background-color: white;
    /* background-color: rgb(231, 223, 192); */

    overflow-y: scroll;
    /* Permite que aparezca el scroll vertical */
    scrollbar-width: thin;
    /* Establece el ancho del scroll */
    scrollbar-color: transparent transparent;
    /* Establece el color del scroll */
}

/* Estilos para navegadores que no soportan scrollbar-color */
body::-webkit-scrollbar {
    width: 12px;
    /* Establece el ancho del scroll para navegadores WebKit */
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Establece el color del scroll para navegadores WebKit */
}

.bg {
    /* background-image: url("./img/bg.webp");
    background-size: cover; */
    width: 100%;
    height: 100vh;
}

.contenedor__general {
    max-width: 740px;

}




header {
    display: flex;
    flex-direction: column;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header p {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px 0 10px 0;
    background-color: #DCDCDC;
}

.cont__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.808);
}

main {
    display: flex;
    flex-direction: column;
}

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0 1% 0;
} */

.portfolio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0 0 0;
    padding: 10px 0 ;
    background-color: black;
    border-radius: 10px 0 0 0;
}
.menulink {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    font-weight: 700;
    transition: all .5s ease;
    cursor: pointer;
}

.menulink:hover {
    color:white;
    transition: all .5s ease;
}

.active {
    color: greenyellow;
    transition: all .5s ease;
}

.divisores {
    font-size: 22px;
    font-weight: 200;
    padding: 0 5px 0 5px;
}


.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 81%; /* Proporción 4:3 para el iframe */
    overflow: hidden;
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

/* .iframe {
    margin: 3% 0 3% 0;
    border-radius: 15px;
    height: 58vh !important; 
    width: 100% !important;
} */

/*FOOTER*/
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

.rrss {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-rrss {
    padding-right: 10px;
    font-size: 25px;
    color: #666666;
    cursor: pointer;
    transition: all .5s ease;
}

.btn-rrss:hover {
    color: greenyellow;
    transition: all .5s ease;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 1px solid white;
    border-radius: 8px 0 8px 0;
    padding: 5px 10px 5px 10px;
    /* margin-bottom: 5px; */
    background-color: greenyellow;
    transition: all .3s ease;
    box-shadow: 2px 2px 1px #6666664d;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
}

.button:hover {
    transition: all .3s ease;
    translate: -4px -4px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.29);
    background-color: greenyellow;
 }

.button:hover h4 {
    color: black;
}

.button_cv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 1px solid white;
    border-radius: 8px 0 8px 0;
    padding: 5px 10px 5px 10px;
    /* margin-bottom: 5px; */
    background-color: transparent;
    transition: all .3s ease;
    box-shadow: 2px 2px 1px #6666664d;
    cursor: pointer;
    color: #666666;
    text-decoration: none;
}

.button_cv:hover {
    transition: all .3s ease;
    translate: -4px -4px;
    box-shadow: 5px 7px 5px 0 rgba(0, 0, 0, 0.29);
    background-color: greenyellow;
 }

.button_cv:hover h4 {
    color: black;
}





@media (max-width: 430px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 13px;
    }

    h3 {
        font-size: 10px;
    }

    h4 {
        font-size: 8px;
    }

    .descripcion {
        font-size: 12px;
        line-height: 22px;
    }

    .menulink {

        font-size: 16px;
    }

    .titulitos p {
        font-size: 9px;
    }
    /* .iframe {
        height: 320px !important; 
        width: 100% !important;
    } */

}