* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Carrusel*/

.container-carrusel {
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 15px 0 15px 0; */
    overflow: hidden;

}

.carruseles {
    /*cambiar el porcentaje segun cantidad de img ej.: "10 = 1000%", 3 = 300% */
    width: 1000%;
    height: 100%;
    display: flex;

}

.slider-section {

    width: calc(100% / 10);
    /*cambiar la cantidad de imagenes "10" */
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    /* border-radius: 15px; */
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: #9797976c;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: white;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.cont__titulitos {
    width: 100vw;
    height: 15%;
    background-color: black;
    display: flex;
    flex-direction: column;
    bottom: 0;
    position: absolute;
    border-top: 1px solid #99999986;
    border-radius: 0 0 10px 0;
    
}

.titulitos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulitos p {
    font-size: 11px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
    color: white;
}
.tecnologia {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tec {
    width: 80px;
    height: auto;
    border-radius: 8px;
    border: 1px solid greenyellow;
    color: greenyellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 4px;
    margin: 4px;
}

.slider-section a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    height: 100%;
}

@media (max-width: 430px) {
    .slider-section img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .cont__titulitos {
        width: 100vw;
        height: auto;
        margin-top: -4px;
        position: relative;
    }
    .titulitos p {
        font-size: 8px;
    }

    .tec {
        width: auto;
        font-size: 9px;
        padding: 2px 8px 2px 8px;
        margin: 4px;
    }

}
